* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

header{
    color: #fff;
    font-size: 18px;
    padding-left: 16px;
    background-color: #F44336;
}
